@faceWidth: 1024px;
@faceHeight: 768px;
@elementHeight: 100px;
@drawSmall: 8px;
@drawSmallRadius: 4px;
@mediumFactor: 2;
@largeFactor: 4;
@orange: hsla(29, 86%, 50%, 1);
@festal: hsla(333, 99%, 67%, 1);
@sherbet: hsla(311, 48%, 50%, 1);
@lime: hsla(92, 82%, 50%, 1);


body {
	background: @orange;
}
#face {
	width: @faceWidth;
	height: @faceHeight;
	position: absolute;
	left: 50%;
    top: 50%;
    margin-left: -.5 * @faceWidth;
    margin-top: -.5 * @faceHeight;
    background: @festal;
}
#modal, #draw, #elements {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#draw {
	z-index: 1000;
}
#elements {
	z-index: 2000;
	background: @sherbet;
	top: @faceHeight - @elementHeight;
}
#modal {
	z-index: 3000;
}
span.small, span.medium, span.large {
	position: absolute;
}
span.small {
	height: @drawSmall;
	width: @drawSmall;
	-webkit-border-radius: @drawSmallRadius;
	-moz-border-radius: @drawSmallRadius;
	border-radius: @drawSmallRadius;
}
span.medium {
	height: @mediumFactor * @drawSmall;
	width: @mediumFactor * @drawSmall;
	-webkit-border-radius: @mediumFactor * @drawSmallRadius;
	-moz-border-radius: @mediumFactor * @drawSmallRadius;
	border-radius: @mediumFactor * @drawSmallRadius;
}
span.large {
	height: @largeFactor * @drawSmall;
	width: @largeFactor * @drawSmall;
	-webkit-border-radius: @largeFactor * @drawSmallRadius;
	-moz-border-radius: @largeFactor * @drawSmallRadius;
	border-radius: @largeFactor * @drawSmallRadius;
}
span.lime {
	background: @lime;
}
