@faceWidth: 1024px;
@faceHeight: 768px;
@elementHeight: 100px;
@colorPickerHeight: ( @elementHeight * .5 );
@darker: hsla(0, 0%, 100%, 1);
@lighter: hsla(0, 0%, 100%, .5);
@orange: hsla(29, 86%, 50%, 1);
@festal: hsla(333, 99%, 67%, 1);
@sherbet: hsla(311, 48%, 50%, 1);
@lime: hsla(92, 82%, 50%, 1);


body {
	background: @orange;
}
#face {
	width: @faceWidth;
	height: @faceHeight;
	position: absolute;
	left: 50%;
    top: 50%;
    margin-left: -.5 * @faceWidth;
    margin-top: -.5 * @faceHeight;
    background: @festal;
}
#modal, #draw, #elements {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#draw {
	z-index: 1000;
	width: @faceWidth;
	height: @faceHeight - @elementHeight;
}
#elements {
	z-index: 2000;
	background: @sherbet;
	top: @faceHeight - @elementHeight;
}
#modal {
	z-index: 3000;
}
.color-picker {
	float: left;
	width: @colorPickerHeight;
	height: @colorPickerHeight;
	/*position: relative;
	top: 50%;*/
	margin-top: .5 * @colorPickerHeight;
	margin-left: .25 * @colorPickerHeight;
	
}
#alpha-selector {
	height: @elementHeight .5;
	width: @elementHeight * .25;
	float: left;
}
#darker, #lighter{
	height: @elementHeight * .25;
	width: @elementHeight * .25;
	position: relative;
	top: @elementHeight * .25;
	margin-left: .25 * @colorPickerHeight;
	float: left;
	background: @darker;
	border-radius: 400px 400px 400px 400px;
}
#lighter {
	background: @lighter;
}