body {
  background: #000000;
  min-width: 768px;
  min-height: 1000px;
  font-family: 'Bowlby One SC', cursive;
  margin: auto;
}
#face {
  width: 768px;
  height: 1000px;
  position: relative;
  margin: auto;
  /*	position: absolute;
	left: 50%;
    top: 50%;
    margin-left: -.5 * @faceWidth;
    margin-top: -.5 * @faceHeight;*/

  border: 1px solid #ffffff;
  background-color: #212121;
  background-image: url(/img/face.png);
  background-repeat: no-repeat;
  background-position: center;
}
#lip {
  background-image: url("/img/lip.png");
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 275px;
  height: 48px;
  left: 307px;
  position: absolute;
  width: 185px;
}
#modal, #draw, #elements {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#draw {
  z-index: 1000;
  width: 768px;
  height: 925px;
  cursor: crosshair;
  position: absolute;
}
#elements {
  z-index: 2000;
  top: 925px;
  background-color: #000000;
}
#modal {
  z-index: 3000;
}
.color-picker, #selection-display, #erase {
  float: left;
  width: 37.5px;
  height: 37.5px;
  /*position: relative;
	top: 50%;*/

  margin-top: 18.75px;
  margin-left: 9.375px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
#alpha-selector, #size-selector {
  height: 75px 0.5;
  width: 18.75px;
  margin-left: 9.375px;
  float: left;
  cursor: pointer;
}
#darker,
#lighter,
#thicker,
#thinner {
  height: 18.75px;
  width: 18.75px;
  position: relative;
  top: 18.75px;
  /*margin-left: .25 * @colorPickerHeight;*/

  float: left;
  background: #ffffff;
  border-radius: 400px 400px 400px 400px;
}
#lighter {
  background: rgba(255, 255, 255, 0.5);
}
#thinner {
  height: 9.375px;
  width: 9.375px;
  position: relative;
  top: 23.4375px;
  left: 4.6875px;
}
#selection-display {
  background: #ffffff;
  border-radius: 400px 400px 400px 400px;
  border: #ffffff 1px solid;
}
#erase {
  font-size: bold;
  float: right;
  position: relative;
  right: 25px;
  font-size: 8px;
}
#erase span {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
}
#erase span p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #000000;
}
#banner {
  font-size: 82px;
  text-align: center;
  text-shadow: #ffffff 1px 1px, #ffffff 2px 2px, #ffffff 3px 3px, #ffffff 4px 4px, #ffffff 5px 5px, #ffffff 6px 6px, #ffffff 7px 7px, #ffffff 8px 8px;
  color: #ff0099;
}
